body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    #have made max-width 1000px from 400px, then reverted change
    #next change to 600px
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
